<div class="ui secondary menu">
  <a class="item">
    Home
  </a>
  <div class=" yellow right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>

<div class="ui cards center">
<% @arts.each_with_index do |thing, i| %>
  <div class="ui card">
    <div class="image">
      <% path = (i+1).to_s + ".png" %>
      <%= image_tag path %>
   </div>
    <div class="content">
      <a class="header"><%= thing.title %></a>
      <div class="meta">
        <span class="date"><%= thing.creator %></span>
      </div>
      <div class="description">
        <!-- Description goes here -->
      </div>
    </div>
    <!-- <div class="extra content">
      <a>
        <i class="icon"></i>
      </a>
    </div> -->
  </div>
<% end %>
</div>
