<div class="ui blue inverted secondary menu">
  <%= link_to 'Home', root_path,  class: 'item' %>
  <%= link_to 'Upload Artwork', new_art_path,  class: 'item' %>
  <div class=" yellow right menu">
    <%= link_to 'Logout', '#',  class: 'item' %>
  </div>
</div>
